# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Virtual environments
.venv
.env
.env.*

# SQLite databases
*.sqlite3

# ChromaDB database
Agents/Chroma/chroma.sqlite3

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Misc
*.log
log.txt

# Test Report
test-reports

